.details-container {
  overflow: hidden;
  .first-part {
    position: relative;
    height: 100vh;
    .part-one-img {
      width: auto;
      object-fit: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: -20%;
      bottom: 0;
    }
    .container-texts {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto 0 auto auto;
      .title-row {
        display: flex;
        align-items: center;
        .title {
          font-size: 40px;
          font-weight: 700;
          opacity: 0.7;
          color: $dark-color;
          text-transform: capitalize;
        }
        .partOneLogo {
          width: 60px;
          height: auto;
        }
      }
      .desc {
        padding-right: 50px;
        margin-top: 20px;
        font-size: 25px;
        font-weight: bold;
        opacity: 0.8;
      }
    }
  }
  .second-part {
    position: relative;
    margin-top: 5rem;
    height: 300vh;
    width: 100vw;
    .videoConainer {
      .texts {
        position: absolute;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $light-color;
        z-index: 10;
        overflow: hidden;
        .title {
          align-items: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
          font-size: 60px;
          font-weight: 900;
          text-transform: capitalize;
          width: 50%;
          margin: 0 auto;
          text-align: center;
        }
      }
      img,
      video {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .part-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 3rem;

    .photos {
      width: 100%;
      .heroImg {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      .subImg {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        img {
          width: auto;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
// ***********************************************************************
.box-title {
  font-size: 70px;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  padding: 3rem 0 0 0;
  opacity: 0.8;
}
.product-accessories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: #fafafa;
  .single {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    .boxImages {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      img {
        height: 50vh;
        width: auto;
        object-fit: cover;
      }
    }
    .title {
      text-transform: capitalize;
      font-size: 25px;
      opacity: 0.7;
      text-align: center;
    }
  }
}

@media (max-width: $lg-size) {
  .box-title {
    font-size: 60px;
    font-weight: 700;
  }
  .details-container {
    .second-part {
      .videoConainer {
        .texts {
          .title {
            width: 80%;
            font-size: 40px;
          }
        }
      }
    }

    .first-part {
      .first-part-image {
        .part-one-img {
          height: 70%;
          top: 15%;
        }
      }
      .container-texts {
        .title-row {
          .title {
            font-size: 30px;
          }
        }
        .desc {
          font-size: 20px;
        }
      }
    }

    .part-three {
      padding: 3rem 0;
      .photos {
        .row {
          --bs-gutter-x: 0;
        }
      }
    }
  }
}

@media (max-width: $sm-size) {
  .box-title {
    font-size: 45px;
    font-weight: 600;
  }
  .details-container {
    .second-part {
      .videoConainer {
        .texts {
          .title {
            width: 80%;
            font-size: 40px;
          }
        }
      }
    }

    .first-part {
      height: 70vh;
      .container-texts {
        .title-row {
          .title {
            font-size: 25px;
          }
        }
        .desc {
          font-size: 12px;
        }
      }
    }
  }

  .product-accessories {
    padding: 3%;
    .single {
      height: 60vh;
      .boxImages {
        img {
          height: 40vh;
        }
      }
      .title {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: $xsm-size) {
  .box-title {
    font-size: 30px;
  }
  .product-accessories {
    .single {
      height: 100%;
      .title{
        font-size: 12px;
      }
      .boxImages {
        img {
          height: 20vh;
        }
      }
    }
  }
  .details-container {
    .first-part {
      height: 50vh;
      .container-texts {
        .title-row {
          flex-direction: column;
          align-items: flex-start;
          .title {
            font-size: 25px;
          }
        }
        .desc {
          font-size: 12px;
        }
      }
    }
  }
}
