.singleWatchBoounose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15% 30%;
  text-align: center;
  overflow: hidden;
  color: $dark-color;
  .title {
    font-size: 40px;
    font-weight: 700;
  }
  .desc {
    font-size: 16px;
    margin: 1rem 0;
  }
}
@media (max-width:$xl-size) {
    .singleWatchBoounose{
        padding: 15% 20%;
    }
}
@media (max-width:$md-size) {
    .singleWatchBoounose{
        padding: 15% 10%;
    }
}
