.latesOnStore {
  margin-top: 2rem;
}
.linkTo {
 a{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue-color;
  opacity: .8;
  &:hover{
    opacity: 1;
  }
 }
}

.mainStoreTitle {
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 1rem 0;
    span {
      opacity: 0.6;
    }
  }
}
.latest-on-store-card {
  width: 100%;
  overflow: hidden;
  height: 65vh;
  border-radius: 20px;
  margin-left: 1rem;
  position: relative;
  .mainImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &.imageNotFull {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 350px;
      width: auto;
      margin: 0 auto;
    }
  }
  .text {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30vh;
    z-index: 4;
    color: $light-color;
    padding: 1.5rem;
    .model {
      margin: 10px 0;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
    }
    .slogan {
      font-size: 25px;
      font-weight: 900;
      text-transform: capitalize;
      margin: 5px 0;
    }
    .price {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &:hover {
    .mainImg {
      transform: scale(1.1);
    }
  }
}
.light {
  .text {
    color: $dark-color;
    .model {
    }
  }
}
@media (max-width: $lg-size) {
  .latest-on-store-card {
    height: 60vh;
    .text {
      .model {
        margin: 5px 0;
      }
      .slogan {
        margin: 2px 0;
        font-size: 20px;
      }
      .price {
        font-size: 12px;
        font-size: 300;
      }
    }
  }
}
@media (max-width: $md-size) {
  .latest-on-store-card {
    height: 50vh;
    .mainImg {
      &.imageNotFull {
        height: 250px;
      }
    }
    .text {
      padding: 10px;
      .model {
        font-size: 14px;
        font-weight: 400;
      }
      .slogan {
        font-size: 18px;
      }
      .price {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: $xsm-size) {
  .latest-on-store-card {
    height: 40vh;
    .mainImg {
      &.imageNotFull {
        height: 220px;
      }
    }
    .text {
      .model {
        font-size: 12px;
        font-weight: 300;
        margin: 0;
      }
      .slogan {
        font-size: 15px;
      }
      .price {
        font-size: 10px;
      }
    }
  }
}
