.appleCardEvenet {
  background-color: rgb(0, 0, 0);
  color: $light-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding-top: 1rem;
  .texts {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 5rem;
    left: auto;
    right: auto;
    h6 {
      font-size: 50px;
      font-weight: 800;
    }
    p {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 500;
      opacity: 0.7;
    }
    .link {
      font-size: 18px;
      color: $blue-color;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      .text-link {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 600;
      }
      .icon {
        display: flex;
        align-items: flex-end;
        font-size: 14px;
        margin: 0;
        padding: 0;
        margin-left: 5px;
        height: 100%;
        padding-top: 3px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .heroImages {
    width: auto;
    height: 100%;
  }
}

// ******************************
.airpodHero {
  background-color: #000;
  color: $light-color;
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding-left: 5%;
      .buyNow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        .buy-now {
          cursor: pointer;
        }
        .button,
        a {
          margin: 10px 20px;
        }
      }
      .appleLogo {
        font-size: 40px;
      }
      .title {
        font-size: 35px;
        font-weight: 600;
        margin: 0.5rem 0;
      }
      .text {
        font-size: 16px;
        font-weight: normal;
      }
    }

    .icons {
      width: 50%;
      .iconsTitle {
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 600;
      }
      .iconsDesc {
        font-size: 16px;
        text-transform: capitalize;
        font-weight: normal;
      }
      .icon {
        margin-top: 1rem;
        .call {
          margin: 0 10px;
          font-size: 20px;
        }
      }
    }
  }
  .heroImage {
    width: 50%;
    margin: 5rem auto 0 auto;
  }
}

@media (max-width: $lg-size) {
  .appleCardEvenet {
    height: 80vh;
    .texts {
      width: 60%;
      z-index: 3;
    }
    .heroImages {
      z-index: 1;
      height: 70vh;
      position: absolute;
      bottom: 0;
    }
  }
}

@media (max-width: $md-size) {
  .airpodHero {
    .texts {
      align-items: center;
      padding-left: 0;
    }
    .heroImage {
      width: 80%;
      margin: 0 auto;
    }
    .icons {
      position: relative;
      bottom: auto;
      left: auto;
      margin: 2rem auto;
    }
  }

  .appleCardEvenet {
    .texts {
      width: 90%;
    }
    .heroImages {
      height: 55vh;
    }
  }
  .airpodHero {
    .content {
      flex-direction: column;
      .icons,
      .texts {
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
      }
    }
  }
}

@media (max-width: $sm-size) {
  .appleCardEvenet {
    .texts {
      h6 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
      }
    }
    .heroImages {
      height: 45vh;
    }
  }

  .airpodHero {
    .content {
      .icons,
      .texts {
        width: 90%;
      }
    }
  }
}

@media (max-width: $xsm-size) {
  .airpodHero {
    padding: 10rem 0 0 0;

    .texts {
      padding-left: 0;
      .appleLogo {
        font-size: 30px;
      }
      .title {
        font-size: 30px;
      }
      .text {
        font-size: 14px;
      }
    }
    .heroImage {
      width: 90%;
    }
    .icons {
      .iconsTitle {
        font-size: 20px;
      }
      .iconsDesc {
        font-size: 12px;
      }
      .icon {
        margin-top: 0.7rem;
        .call {
          font-size: 16px;
        }
      }
    }
  }

  .airpodHero {
    .content {
      flex-direction: column;
      .icons,
      .texts {
        width: 100%;
        .buyNow {
          .buyNow,
          .button,
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
