.kindOfMacContainer {
  text-align: center;
  padding: 2rem 0;
  color: $dark-color;
  .title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 3rem;
  }
  .subtitle {
    margin: 1rem 0;
    .customeBtn {
      margin: 10px 2rem;
      background: transparent;
      border: none;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
      opacity: 0.6;
      position: relative;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &.activeBtn {
        transition: all 0.3s ease-in-out;
        opacity: 1;
      }
    }
  }
  .hide {
    display: none;
  }
  .hideDesctops {
    display: none;
  }
}
.mac-kind-card {
  text-align: center;
  color: $dark-color;
  position: relative;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.2);
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    margin-bottom: 2rem;

    &.iphoneClassBg {
      height: 80vh;
    }
    .mainImage {
      width: 220px;
      margin: 0 auto;
    }
    .newText {
      padding: 10px;
      color: $orange-color;
      text-transform: uppercase;
    }
    .color {
      display: flex;
      justify-content: center;
      img {
        height: 15px;
        margin: 5px;
        border-radius: 50%;
      }
    }
    .buttons {
      margin: 10px 0;
      .buyNow {
        padding: 7px 10px;
        font-size: 14px;
        width: 60px;
        margin: 0 auto;
        cursor: pointer;
      }
      .more {
        font-size: 16px;
        font-weight: normal;
      }
    }
    .name {
      font-size: 22px;
      font-weight: 800;
      width: 50%;
      margin: 0 auto;
      opacity: 0.9;
    }
    .chipName {
      margin: 5px 0 15px 0;
      opacity: 0.9;
    }
    .price {
      font-size: 14px;
      font-weight: 500;
      opacity: 0.9;
    }
  }
  .details {
    position: relative;
    .singlePart {
      height: 100%;
      margin-bottom: 2rem;
      &.inHightClass {
        height: 10vh;
      }
      &.sosHightClass {
        height: 13vh;
      }
      &.cameraHightClass {
        height: 17vh;
      }
      .subTitle {
        font-size: 20px;
        font-weight: 900;
        opacity: 0.8;
      }
      .text {
        font-size: 14px;
      }
      .singleImg {
        width: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
.Links {
  text-align: center;
  margin-top: 2rem;
  a {
    color: $blue-color;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 1rem;
    &:hover {
      color: $blue-color;
      text-decoration: underline;
    }
  }
}
@media (max-width: $xl-size) {
  .mac-kind-card {
    .mainContainer {
      .mainImage {
        width: 180px;
      }
    }
  }
}
@media (max-width: $sm-size) {
  .Links {
    text-align: center;
    margin-top: 2rem;
    a {
      font-size: 14px;
    }
  }
  .kindOfMacContainer {
    .title {
      font-size: 30px;
    }
  }
  .mac-kind-card {
    .mainContainer {
      height: 50vh;
      .color {
        img {
          height: 10px;
        }
      }
      .mainImage {
        width: 150px;
      }
      .name {
        width: 100%;
        font-size: 18px;
      }
    }
  }
}
@media (max-width: $xsm-size) {
  .mac-kind-card {
    .mainContainer {
      height: 40vh;
      .buttons {
        .buyNow {
          padding: 5px;
          font-size: 12px;
        }
      }
      .chipName {
        margin: 5px 0;
        font-size: 12px;
      }
      .price,
      .newText {
        font-size: 12px;
      }
      .mainImage {
        width: 120px;
      }
      .name {
        width: 100%;
        font-size: 14px;
      }
    }
    .details {
      .singlePart {
        .singleImg {
          width: 30px;
        }
        .subTitle {
          font-size: 16px;
        }
        .text {
          font-size: 12px;
        }
      }
    }
  }
}
