.accessoriesCard {
  background-color: $light-color;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  &.bgLight {
    background-color: #fff;
    color: $dark-color;
    -webkit-box-shadow: -1px 5px 15px -5px #000000;
    box-shadow: -1px 5px 15px -5px #000000;
    margin: 1rem;
  }
  &.lightBg {
    background-color: #fff;
    height: 70vh;
    border-radius: 20px;
    -webkit-box-shadow: -1px 5px 15px -5px #000000;
    box-shadow: -1px 5px 15px -5px #000000;
    margin: 1rem;
  }
  &.darkBg {
    background-color: #1d1d1f;
  }
  &.darkerBg {
    background-color: #000;
  }

  .exploreTitle {
    text-transform: capitalize;
    font-size: 25px;
    opacity: 0.8;
    position: relative;
    z-index: 10;
    text-align: left;
    font-weight: 700;
  }
  .heroImg {
    height: auto;
    width: 200px;
    margin: 0 auto;
    position: relative;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &.experienceClass {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: 90%;
      margin: 0 auto;
      z-index: 1;
    }

    &.seeAll {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
  .colors {
    display: flex;
    justify-content: center;

    img {
      margin: 3px;
      width: 10px;
    }
  }
  .accessoriesText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $dark-color;
    text-align: left;
    position: relative;
    &.upText {
      position: relative;
      z-index: 20;
      .title {
        font-size: 40px;
      }
    }
    &.textLightColor {
      color: $light-color;
    }
    .newText {
      font-size: 12px;
      text-transform: uppercase;
      color: $orange-color;
    }
    .title {
      font-size: 20px;
      font-weight: 700;
      margin: 10px 0;
    }
    .price {
      font-size: 14px;
      font-weight: 700;
      opacity: 0.7;
    }
  }
  .textIntro {
    text-align: left;
    padding: 1rem;
    position: relative;
    z-index: 10;
    color: $dark-color;
    .title {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 800;
    }
    .text {
      opacity: 0.7;
      font-size: 14px;
    }
  }
  &:hover {
    .heroImg {
      transform: scale(1.1);
    }
  }
}
@media (max-width: $lg-size) {
  .accessoriesCard {
    .accessoriesText {
      &.upText {
        .title {
          font-size: 30px;
        }
      }
    }
    &.lightBg {
      height: 50vh;
    }
  }
}
@media (max-width: $md-size) {
  .accessoriesCard {
    .accessoriesText {
      &.upText {
        .title {
          font-size: 25px;
        }
      }
    }
    .heroImg {
      &.experienceClass {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: $sm-size) {
  .accessoriesCard {
    padding: 10px;
    height: 42vh;
    &.lightBg {
      height: 40vh;
    }
    .textIntro {
      padding: 10px;
      .title {
        font-size: 16px;
      }
      .text {
        font-size: 12px;
      }
    }

    .heroImg {
      width: 150px;
    }
    .accessoriesText {
      &.upText {
        .title {
          font-size: 20px;
        }
      }

      .title {
        font-size: 14px;
        margin: 5px 0;
      }
    }
  }
}
@media (max-width: $xsm-size) {
  .accessoriesCard {
    padding: 5px;
    height: 40vh;
    &.lightBg {
      height: 35vh;
    }
    .textIntro {
      .text {
        font-size: 10px;
      }
    }
    .heroImg {
      width: 130px;
    }
    .accessoriesText {
      &.upText {
        .title {
          font-size: 16px;
        }
      }
      .newText {
        font-size: 10px;
      }
      .title {
        font-size: 12px;
        margin: 5px 0;
      }
      .price {
        font-size: 12px;
      }
    }
  }
}
