.watchesHotSells {
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
  .lgTitle {
    h2 {
      font-size: 45px;
      font-weight: 900;
      margin: 2rem 0;
      text-transform: capitalize;
      opacity: 0.7;
      text-align: center;
    }
  }
}
.singleHotSells {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $light-color;
  height: 60vh;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  .hotsells {
    position: absolute;
    top: 1rem;
    left: -6rem;
    text-align: center;
    // width: 100%;
    color: $light-color;
    background-color: $blue-color;
    padding: 5px 100px;
    transform: rotate(-45deg);
  }
  .heroImage {
    padding: 1.5rem 0;
  }
  .texts {
    width: 100%;
    padding: 2rem;
    span {
      color: $orange-color;
    }
    .name {
      font-size: 20px;
      font-weight: 600;
    }
    .price {
      font-size: 20px;
      font-weight: 700;
      opacity: 0.6;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .bgBlue {
        background-color: $blue-color;
        color: $light-color;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        border: 1px solid $blue-color;
        cursor: pointer;
        &:hover{
            background: transparent;
            color: $blue-color;
        }
      }
      .more {
        span {
          color: $blue-color;
        }
      }
    }
  }
}
