.sound-gift-banner {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  .heroImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .texts {
    position: relative;
    z-index: 5;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    color: $dark-color;
    h6 {
      font-size: 60px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      margin: 1rem 0;
      width: 50%;
    }
    .links {
      display: flex;
      align-items: center;
      .buuNow {
        font-size: 14px;
        background-color: $dark-color;
        color: $light-color;
        padding: 10px 20px;
        cursor: pointer;
      }
      .more {
        cursor: pointer;
        font-size: 16px;
        margin-left: 1rem;
        color: inherit;
      }
    }
  }
}

@media (max-width: $lg-size) {
  .sound-gift-banner {
    height: 50vh;
    .texts {
      h6 {
        font-size: 40px;
      }
      p {
        width: 80%;
      }
      .links {
        flex-direction: column;
        align-items: flex-start;
        .more {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: $sm-size) {
  .sound-gift-banner {
    height: 40vh;
    .texts {
      width: 80%;
      p {
        margin: 7px 0;
        width: 90%;
      }
      .links {
        .buuNow {
          font-size: 12px;
          padding: 7px 15px;
        }
        .more {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: $xsm-size) {
  .sound-gift-banner {
    height: 30vh;
    .texts {
      margin-left: 1rem;
      width: 90%;
      h6 {
        font-size: 30px;
      }
      p {
        font-size: 12px;
        margin: 5px 0;
      }
      .links {
        // flex-direction: row;
        .buuNow {
          padding: 5px 10px;
        }
      }
    }
  }
}
