.microsoftLgTitle{
    h2{
        color: $dark-color;
        font-size: 50px;
        font-weight: 700;
        margin: 5rem 0;
    }
}

@media (max-width:$lg-size) {
    .microsoftLgTitle{
        h2{
            font-size: 40px;
            margin: 3rem 0;
        }
    }
}
@media (max-width:$md-size) {
    .microsoftLgTitle{
        h2{
            font-size: 35px;
            margin: 2rem 0;
        }
    }
}